# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Lixeira e arquivos temporários do macOS
.Trashes
.TemporaryItems
.fseventsd

# Artefatos gerados pelo GCC
*.o
*.obj
*.out
*.exe
*.elf
*.bin
*.d
*.gcda
*.gcno
*.gcov
